{% extends "base_setup.html" %}
{% block scripts %}{% endblock scripts %}
{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="h3 mb-3 font-weight-normal float-left">{{ user.username }}</h1>
            <a href="/csv" class="float-right active" id="download">Download</a>
        </div>
        {% if error %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% else %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        {% endif %}
        {% if user.predictor and user.outcome %}
            <div class="row align-items-center justify-content-center align-self-center">
                <div class="col-6 text-center">
                    <span class="btn btn-primary">{{ user.predictor.name }}</span>
                </div>
                <div class="col-6 text-center">
                    <span class="btn btn-danger">{{ user.outcome.name }}</div>
                </div>

            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">You must <a href="{{ url_for('variables') }}">set up your variables</a> before you can do any tracking.</div>
        {% endif %}
        {% if responses %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Predictor</th>
                            <th scope="col">Date</th>
                            <th scope="col">Outcome</th>
                            <th scope="col">Minutes</th>
                        </tr>
                    </thead>
                    {% for response in responses %}
                        <tr>
                            <td>{{ response.0.human_updated_at() }}</td>
                            <td>{{ response.0.message }}</td>
                            {% if response.1 %}
                                <td>{{ response.1.human_updated_at() }}</td>
                                <td>{{ response.1.message }}</td>
                                <td>{{ response.2 }}</td>
                            {% else %}
                                <td></td>
                                <td></td>
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">You don't have any data yet.</div>
        {% endif %}
    </div>
{% endblock content %}
