{% extends "base_setup.html" %}
{% block scripts %}{% endblock scripts %}
{% block content %}
    <div class="container">
        <h1 class="h3 mb-3 font-weight-normal">Welcome {{ user.username }}</h1>
        {% if error %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% else %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        {% endif %}
        {% if user.predictor and user.outcome %}
            <span class="badge badge-pill badge-primary">{{ user.predictor.name }}</span><span style="font-size:16px;">&#8680;</span><span class="badge badge-pill badge-danger">{{ user.outcome.name }}</div>
        {% else %}
            <div class="alert alert-warning" role="alert">You must <a href="{{ url_for('variables') }}">set up your variables</a> before you can do any tracking.</div>
        {% endif %}

        {% if responses %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Predictor</th>
                            <th scope="col">Date</th>
                            <th scope="col">Outcome</th>
                        </tr>
                    </thead>
                    {% for response in responses %}
                        <tr>
                            <td>{{ response.0.human_updated_at() }}</td>
                            <td>{{ response.0.message }}</td>
                            {% if response.1 %}
                                <td>{{ response.1.human_updated_at() }}</td>
                                <td>{{ response.1.message }}</td>
                            {% else %}
                                <td></td>
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    </div>
{% endblock content %}
