{% extends "base.html" %}
{% block scripts %}{% endblock scripts %}
{% block content %}
    {% if session['logged_in'] %}
        <form class="form-signin" action="/password" method="POST">
            <img style="width:250px;" src="{{ url_for('static', filename='images/rel8-logo.png') }}">
            <h1 class="h3 mb-3 font-weight-normal">Please set a password</h1>
            {% if error %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% else %}
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success" role="alert">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            {% endif %}

            {{ form.password.label(class="form-control-label") }}
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            {% else %}
                {{ form.password(class="form-control", id="password") }}
            {% endif %}

            {{ form.confirm_password.label(class="form-control-label") }}
            {% if form.confirm_password.errors %}
                {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            {% else %}
                {{ form.confirm_password(class="form-control", id="confirm-password") }}
            {% endif %}

            {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
        </form>
    {% endif %}
{% endblock content %}
