{% extends "base.html" %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            let urlParams = new URLSearchParams(window.location.search);
            let code = urlParams.get("access-code");
            $("#access-code").val(code);
        });
    </script>
{% endblock scripts %}
{% block content %}
    <form class="form-signin" action="" method="POST">
        {{ form.hidden_tag() }}
        <img style="width:250px;" src="{{ url_for('static', filename='images/rel8-logo.png') }}">
        <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
        {% if error %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endif %}
        {{ form.phone_number.label(class="form-control-label") }}
        {% if form.phone_number.errors %}
            {{ form.phone_number(class="form-control form-control-lg is-invalid", id="phone-number") }}
            <div class="invalid-feedback">
                {% for error in form.phone_number.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.phone_number(class="form-control", id="phone-number") }}
        {% endif %}
        {{ form.password.label(class="form-control-label") }}
        {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid", id="password") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.password(class="form-control", id="password", placeholder="Between 8-20 characters") }}
        {% endif %}
        {{ form.confirm_password.label(class="form-control-label") }}
        {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="form-control form-control-lg is-invalid", id="confirm-password") }}
            <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.confirm_password(class="form-control", id="confirm-password") }}
        {% endif %}
        {{ form.access_code.label(class="form-control-label") }}
        {% if form.access_code.errors %}
            {{ form.access_code(class="form-control form-control-lg is-invalid", id="access-code") }}
            <div class="invalid-feedback">
                {% for error in form.access_code.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.access_code(class="form-control", id="access-code") }}
        {% endif %}
        {{ form.timezone.label(class="form-control-label") }}
        {% if form.timezone.errors %}
            {{ form.timezone(class="form-control form-control-lg is-invalid", id="timezone") }}
            <div class="invalid-feedback">
                {% for error in form.timezone.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.timezone(class="form-control", id="timezone") }}
        {% endif %}
        {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
    </form>
{% endblock content %}
